<html>
 <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>Página de móviles</title>
 </head>
 <body>

    <div>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Cambiar E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Logout</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Login</a></li>
	<li><a href="{% url 'account_signup' %}">Regístrate</a></li>
	{% endif %}
      </ul>
    </div>

    <div>
        <h1><a href="/">Pagina de móviles</a></h1>
    </div>



 {%block content%}
 {%endblock%}


 </body>
</html>
