
{% extends 'app1/base.html' %}

{% block content %}

       <h1><a href="{% url 'app1.views.movil_new'%}">Nuevo</a></h1>

{% for Movil in moviles %}
     <div>
      <h1><a href="{% url 'app1.views.movil_detail' pk=Movil.pk %}">{{ Movil.modelo }}</a></h1>
        <p>Lanzamiento: {{ Movil.fecha_lanzamiento }}</p>
        <p>Fabricante: {{ Movil.fabricante }}</p>
        <p>Version de OS: {{ Movil.versionOS }}</p>
        <p>{{ Movil.text|linebreaks }}</p>
    </div>
{% endfor %}

{% endblock content %}
