{% extends 'app1/base.html' %}

    {% block content %}
        <div class="movil">
            {% if Movil.fecha_lanzamiento %}
                <div class="date">
                    {{ Movil.fecha_lanzamiento }}
                </div>
            {% endif %}
            <h1>{{ Movil.modelo }}</h1>
            <a href="{% url 'movil_edit' pk=Movil.pk %}">Editar</a>
            <a href="{% url 'movil_remove' pk=Movil.pk %}">Eliminar</a>
            <p>{{ Movil.text|linebreaks }}</p>

{% block comentarios %}
{% endblock %}

        </div>
    {% endblock %}
