<html>
 <head>
  <title>Página de móviles</title>
 </head>
 <body>
    <div>
        <h1><a href="/">Pagina de móviles</a></h1>
    </div>

    {% for Movil in moviles %}
        <div>
            <h1><a href="">{{ Movil.modelo }}</a></h1>
            <p>Lanzamiento: {{ Movil.fecha_lanzamiento }}</p>
            <p>Fabricante: {{ Movil.fabricante }}</p>
            <p>Version de OS: {{ Movil.versionOS }}</p>
            <p>{{ Movil.text|linebreaks }}</p>
        </div>
    {% endfor %}
 </body>
</html>
